server:
  port: ${PORT:8080}

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: ${DB_DRIVER}

  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO:update}
    show-sql: ${SHOW_SQL:false}

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT:6379}
      username: ${REDIS_USERNAME:default}
      password: ${REDIS_PASSWORD}

jwt:
  access-token-secret: ${JWT_ACCESS_SECRET}
  refresh-token-secret: ${JWT_REFRESH_SECRET}
  access-token-expiration-ms: ${JWT_ACCESS_EXP_MS:300000}
  refresh-token-expiration-ms: ${JWT_REFRESH_EXP_MS:604800000}
